*{
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
}
.container {
    display: flex;
    flex-direction:column;
    width: 100%;
    height:auto;
}

.menu{
    display: flex;
    justify-content:center;
    width:100%;
    background-color: black;
    background-image: url("../css/img/ergenekon.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: auto;
    background-position: center;
    height: 700px;
}
.header{
    width: 1511px;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    position: fixed;
    gap: 350px;
    height:60px;
    background-color:rgba(0, 0, 0, 0.2);
    border-radius:14px;
}


.logo{
    width:303px;
    font-size:40px;
    font-weight: bold;
    /* text-shadow: 2px 2px 5px white; */
    font-family: 'Zen Dots', cursive;
    color: white;
}
ul{
    display: flex;
    flex-direction:row;
    gap: 40px;
    list-style: none;
    font-size: 24px;
    color:#34F3F3;
    align-items:center;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}
li{
    padding:14px;
    border-radius: 15px;
}
li:hover{
    color: #c0c2c3;
}
.main{

    display:flex;
    justify-content:center;
    margin-top: 30px;
    height:500px;
}