*{
    margin: 0;
    padding: 0;
}
body {
    width: 100%;
}
.container {
    display: flex;
    flex-direction:column;
    width: 100%;
    height:auto;
    align-items: center;
}
.header{
    overflow: hidden;
    width: 100%;
    display:flex;
    flex-direction:row;
    justify-content:center;
    align-items: center;
    position: fixed;
    gap: 350px;
    height:100px;
    /* background-color:rgba(0, 0, 0, 0.); */
    border-radius:14px;
    z-index:1;
    /* background-image: url("../css/img/logo.png"); */
    background-size: 400px;
    background-repeat: no-repeat;
}
.header-logo{
    width:400px;
    background-image: url("./css/img/logo.png");
    background-repeat: no-repeat;
    background-size:300px;
 } 

.menu{
    display: flex;
    justify-content:center;
    flex-direction:column;
    align-items:center;
    width:100%;
    background-image: url("../css/img/ergenekon.jpg");
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-position: center;
    height: 700px;
}
ul{
    display: flex;
    flex-direction:row;
    gap: 40px;
    list-style: none;
    font-size: 24px;
    color:white;
    align-items:center;
    font-weight: bold;
    font-family:'Times New Roman', Times, serif;
}
li{
    padding:14px;
    border-radius: 15px;
}
li:hover{
    color: #c0c2c3;
}
.content{
    width: 100%;
    height:600px;
    background-color: black;
    display: flex;
    /* justify-content:center; */
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.content-title{
    color:white;
    font-size:60px;
    margin-top:40px;
    padding:20px;
}
.content-description{
    width:70%;
    color:white;
    font-size: 20px;
}
.main{
    width: 100%;
    display:flex;
    flex-direction: row;
    justify-content:center;
    height:auto;
    background-color: #081010; 
}
.box{
    width: 850px;
    height:auto;
    display:flex;
    justify-content:space-around;
    flex-flow: wrap;
    gap: 30px;
    margin-top:20px;
}
.flip-card {
    width: 400px;
    height: 500px;

    perspective: 1000px;
    border-radius: 10px;


  }
  

  .flip-card-inner {
    width: 400px;
    height: 500px;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    border-radius: 10px;

  }
  

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
    
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 400px;
    height: 500px;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
  }
  
  .flip-card-front {
    width:400px;
    border-radius: 10px;

  }
  

  .flip-card-back {
    background-color: black;
    color: white;
    transform: rotateY(180deg);
    border-radius: 10px;
    
  }
.card-img{
    width: 400px;
    height:500px;
    border-radius: 10px;
}
.footer{
    padding-top:20px;
    width: 100%;
    height: 100px;
    background-color: black;
    display:flex;
    justify-content:space-around;

}
a{
    text-decoration: none;
    color:white;
}
.footer-icon{
    width: 30px;
}
.footer-logo{
    display:flex;
    align-items:center;
    width:250px;
    gap: 10px;
}
.footer-logo-img{
    width:50px;
}
.footer-menu{
    display: flex;
    flex-direction:row;
    align-items:center;
    justify-content:center;
    gap: 20px;
}
.link{
    display: flex;
    align-items:center;
    gap: 10px;
}